table {
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    border-collapse: collapse;
}

th {
    font-weight: normal;
    padding: 10px 15px;
}

td {
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}

tr:hover td {
    background: #e8edff;
}

.pagination {
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
}